<ion-view id='{{tema.miTema}}'>
    <ion-nav-title>
        {{datos.getDate()() | date: 'EEEE, d MMMM, y'}}
        <a class='item-icon-right'>
            <i  ng-click='openPopover($event)' class='icon ion-gear-a'></i>
        </a>
    </ion-nav-title>
    <ion-content>
      <!--<input ng-model="tema.miTema">-->
    </ion-content>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
<ion-modal-view id='{{tema.miTema}}'>
  <ion-content style="font-family: myFont;"><br/>
  <div id="headKeyboard">
    <div class="row">
         <span class="radio-icon ion-close-round" id="iconKeyboard" ng-click="closeModal()"> Cancel</span>
         <p class="controlModal" id="iconKeyboard">.</p>
         <i ng-click="closeModal()" class="radio-icon ion-checkmark" id="iconKeyboard"> Listo</i> 
    </div>
  </div>
  <hr>
  <div>
      <div class="row">
          <div class="col col-25 col-offset-25" id="inputKey">
               <input type="text" readonly id="inputNumber" ng-model="expression" placeholder="--:--" ui-time-mask/>
          </div>
          <div class="col col-25">
          </div>
          <div class="col col-25" style="text-aling: left;">
              <i ng-click="add('b')" class='icon ion-backspace' style="color:#000; opacity: 0.5;"></i>
          </div>
      </div>
      <div class="row">
          <div class="col col-25 col-offset-25">
              <button type="button" ng-disabled="isDisabled1" class="{{classNumber1}}" ng-click="add(1)"><i class="glyphicon glyphicon-ok" style="font-family: myFont;">1</i></button>
          </div>
          <div class="col col-25">
              <button type="button" ng-disabled="isDisabled2" class="{{classNumber2}}"  ng-click="add(2)"><i class="glyphicon glyphicon-ok" style="font-family: myFont;">2</i></button>
          </div>
          <div class="col col-25">
              <button type="button" ng-disabled="isDisabled3" class="{{classNumber3}}"  ng-click="add(3)"><i class="glyphicon glyphicon-ok" style="font-family: myFont;">3</i></button>
          </div>
          
      </div>
      <div class="row">
          <div class="col col-25 col-offset-25">
             <button type="button" ng-disabled="isDisabled4" class="{{classNumber4}}" ng-click="add(4)"><i class="glyphicon glyphicon-ok" style="font-family: myFont;">4</i></button>
          </div>
          <div class="col col-25">
              <button type="button" ng-disabled="isDisabled5" class="{{classNumber5}}" ng-click="add(5)"><i class="glyphicon glyphicon-ok" style="font-family: myFont;">5</i></button>
          </div>
          <div class="col col-25">
              <button type="button" ng-disabled="isDisabled6" class="{{classNumber6}}" ng-click="add(6)"><i class="glyphicon glyphicon-ok" style="font-family: myFont;">6</i></button>
          </div>
         
      </div>
      <div class="row">
          <div class="col col-25 col-offset-25">
              <button type="button" ng-disabled="isDisabled7" class="{{classNumber7}}" ng-click="add(7)"><i class="glyphicon glyphicon-ok" style="font-family: myFont;">7</i></button>
          </div>
          <div class="col col-25">
              <button type="button" ng-disabled="isDisabled8" class="{{classNumber8}}"  ng-click="add(8)"><i class="glyphicon glyphicon-ok" style="font-family: myFont;">8</i></button>
          </div>
          <div class="col col-25">
              <button type="button" ng-disabled="isDisabled9" class="{{classNumber9}}"  ng-click="add(9)"><i class="glyphicon glyphicon-ok" style="font-family: myFont;">9</i></button>
          </div>
          
      </div>
      <div class="row">
          <div class="col col-25 col-offset-25">
          </div>
          <div class="col col-25">
             <button type="button" ng-disabled="isDisabled0" class="{{classNumber0}}"  ng-click="add(0)"><i class="glyphicon glyphicon-ok" style="font-family: myFont;">0</i></button>
          </div>
          <div class="col col-25">  
          </div>
      </div>
  </div>
    </ion-content>
</ion-modal-view>

</script>